@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = "~/img/" + (employee.PhotoPath ?? "logo.png");

        <div class="card m-3" style="min-width: 14rem; max-width:8.5%;">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top ImageThumbnail" src="@photoPath" asp-append-version="true"/>
            <!-- append version sprawdza czy obrazek sie nie zmienil, i jak zmienil to sciaga na nowo, tak to w cachu-->

            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"
                   class="btn btn-primary m-1">View</a>
                <!--
        <a href="@Url.Action("details", "home", new { id = employee.Id })"
       class="btn btn-primary">Show</a>
       @Html.ActionLink("View", "details", "home", new { id = employee.Id })
    <a href="/home/details/@employee.Id" class="btn btn-primary">View</a>

        -->
                <a  asp-action="edit" asp-controller="home"
asp-route-id="@employee.Id"
                   class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>





<!-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    >
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Department</td>
                </tr>
            }
        </tbody>
    </table>
</!-->

